.gradle
/local.properties
# IntelliJ IDEA
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/vcs.xml
!.idea/copyright/
*.iml
*.ipr
*.iws
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
