# Build related
/build/
app/build/
app/release/
.gradle/
.externalNativeBuild/
.cxx/
/captures/

# IDE related
.idea/
*.iml
*.ipr
*.iws

# Local configuration
local.properties

# System files
.DS_Store

# Log files
*.log

# Keystore files
*.jks
*.keystore

# Google Services
# google-services.json

# Bundle related
*.apks
*.aab
